<div class="container">
  <div class="heading">
    <h1 class="h">Minimalist Room</h1>
  </div>
  <div class="text">
    <div class="t">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout.
    </div>
  </div>
  <div class="page-image">
    <img src="../../../assets/sitting-room.svg" alt="" />
  </div>
  <div class="btext">
    <div class="date-parent">
      <h3>Project Overview</h3>
      <div>
        Online learning with us does not interfere with your daily life. because
        learning can be done anytime and anywhere. Online learning with us does
        not interfere with your daily life. because learning can be done anytime
        and anywhere. Online learning with us does not interfere with your daily
        life. because learning can be done anytime and anywhere.
      </div>
      <div class="date">
        <span>July 22 - 2022</span>
        <span>Interior Design - Furnitur</span>
      </div>
    </div>
    <div class="process">
      <h3>Design Process</h3>
      <div>
        Online learning with us does not interfere with your daily life. because
        learning can be done anytime and anywhere. Online learning with us does
        not interfere with your daily life. because learning can be done anytime
        and anywhere.
      </div>
      <div class="bottom-text">
        Online learning with us does not interfere with your daily life. because
        learning can be done anytime and anywhere. Online learning with us does
        not interfere with your daily life. because learning can be done anytime
        and anywhere.
      </div>
    </div>
  </div>
  <div class="himage">
    <div class="basket">
      <img src="../../../assets/basket.png" alt="" />
    </div>
    <div class="study">
      <img src="../../../assets/study.png" alt="" />
    </div>
    <div class="setting">
      <img src="../../../assets/setting.svg" alt="" />
    </div>
    <div class="light">
      <img src="../../../assets/light.png" alt="" />
    </div>
    <div class="empty">
      <img src="../../../assets/empty.png" alt="" />
    </div>
  </div>
</div>
