<div class="container">
  <div class="heading">
    <div>
      <img src="../../../assets/logo.png" alt="" />
      <h2>One of the best furniture agency.</h2>
    </div>
  </div>
  <div class="contact">
    <li class="c">
      <span>Enter your email to get the latest news</span>
    </li>
    <!-- <div> -->
    <div class="d">
      <input type="text" placeholder="Email Address" />
      <img class="arrow" src="../../../assets/arrow.png" alt="" />
    </div>

    <!-- <img class="arrow" src="../../../assets/Vector 32.png" alt="" /> -->
    <!-- </div> -->
    <div class="link e">
      <div class="social">
        <div class="follow">Follow us On</div>
        <div class="icon">
          <span>
            <img src="../../../assets/icon/facebook.png" alt="" />
          </span>
          <span>
            <img src="../../../assets/icon/instagram.png" alt="" />
          </span>
          <span>
            <img src="../../../assets/icon/tiktok.png" alt="" />
          </span>
          <span>
            <img src="../../../assets/icon/youtube.png" alt="" />
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
